.menu_block  {
	position: relative;
	background: #BAD1B7;
	z-index: 999;
	padding-left: 20px;
	padding-right: 35px;
}

.sf-menu>li {
	position: relative;
	float: left;
}

.sf-menu>li>a{
	font-size: 24px;
	color: #000;
	display: block;
	position: relative;
	line-height: 24px;
	z-index: 999;
	position: relative;
	padding: 17px 10px 17px;
}

.sf-menu>li.current>a, .sf-menu>li:hover>a:hover {
	background-color: #758872;
}

.clear {
	clear: both;
}

body {
	font: 18px;
	color:#d5d5d5;
	background-color: #445242;
	position:relative;
	min-width:960px;
}

h3 {
	font-size: 36px;
	line-height: 36px;
	padding-top: 22px;
	margin-bottom: 20px;
	color:#1E1E1E;
}

ul {
	list-style: none;
}

a {
	color: inherit;
}

.img_inner {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 19px;
	position: relative;
}

.box {
	border-bottom: 1px solid #A6C0A2;
	background-color: #688764;
	padding: 0 34px 17px;
}

.text1 {
	color: #D8EDBF;
	font-size: 18px;
	margin-bottom: 15px;
}

.pt1 {
	padding-top: 22px;
}

.block2 {
	width: 265px;
	float: left;
}

.block2 +.block2  {
	margin-left: 38px;
}

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
}
